@model IEnumerable<Framework.EF.Muon>

@{
    ViewBag.Title = "timkiem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Tables</a>
                </li>
                <li class="active">Simple &amp; Dynamic</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">

                @using (Html.BeginForm("timkiem", "Muon", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        @Html.TextBox("tuKhoa", null, new { @class = "form-control", @style = "width : 200px" })
                        <input type="submit" value="Tìm kiếm" style="height:35px" class="btn btn-info" />
                    </div>

                }

            </div><!-- /.nav-search -->

        </div>
        <div class="page-content">
            <!-- PAGE CONTENT BEGINS -->
            <div class="container-fluid">
                <div class="col-sm-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Mã Sinh Viên</th>
                                <th>Mã Sách</th>
                                <th>Ngày Mượn  </th>
                                <th>Ngày Trả</th>
                                <th>Số Ngày Mượn</th>
                            </tr>

                        </thead>
                        <tbody id="table">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Masinhvien)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Masach)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Ngaymuon)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Ngaytra)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Songaymuon)
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.span -->
                <div class="col-md-12" style="text-align:right">
                    <a href="@Url.Action("MuonIndex","Muon")" class="btn btn-success">Back</a>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>
</div>
